<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head><title>Contact</title></head>
<body>
	<form action="addContact">
		<p>Tell me your name</p><input type="text" name="nume"><br/>
		<p>An email please</p><input type="text" name="mail"><br/>
		<p>Perhaps from a company?</p><input type="text" name="company"><br/>
		<p>What is it you are looking for</p><input type="text" name="subject"><br/>
		<p>Write down what you wish to transmit</p><input type="text" name="message"><br/>
		<input type="submit"><br/>
	</form>

</body>
</html>