<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Experience</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <thead>
        <tr>
            <th> Experience </th>
            <th> Experienta diversa de munca </th>
        </tr>
    </thead>
    <tbody>
	<p>titlu</p>
        <tr th:each="Experience : ${experience}">
            <td><span th:text="${experience.experience}"> titlu </span></td>

             
        </tr>
    </tbody>
</table>
</body>